<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ONNX</title>
</head>
<body>
    <div id="app">
        <input type="file" v-on:change="onFileChange">
        <br>
        <img v-show="uploadedImage" :src="uploadedImage">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js"></script>
    <script>
        function argsort(array) {
            const arrayObject = array.map((value, idx) => { return { value, idx }; });
            arrayObject.sort((a, b) => {
                if (a.value < b.value) {
                    return -1;
                }
                if (a.value > b.value) {
                    return 1;
                }
                return 0;
            });
            const argIndices = arrayObject.map(data => data.idx);
            return argIndices;
        }

        const session = new onnx.InferenceSession();
        session.loadModel("/static/mobilenetv2-1.0.onnx");
        new Vue({
            el: "#app",
            data: {
                uploadedImage: "",
                input: ""
            },
            methods: {
                onFileChange(e){
                    let files = e.target.files || e.dataTransfer.files;
                    this.createImage(files[0]);
                },
                loadImage(image){
                    let canvas = document.createElement("canvas");
                    let context = canvas.getContext("2d");
                    let img = new Image;
                    img.src = image;
                    context.drawImage(img, 0, 0, img.width, img.height);
                    let imgData = new Float32Array(context.getImageData(0, 0, img.width, img.height).data);
                    let input = new Float32Array(img.width * img.height * 3).fill(1.0);
                    let count = 0;
                    for (i=0; i<imgData.length; i+=4){
                        input[count] = (imgData[i] - 126.0)/126.0;
                        count += 1;
                        input[count] = (imgData[i+1] - 126.0)/126.0;
                        count += 1;
                        input[count] = (imgData[i+2] - 126.0)/126.0;
                        count += 1;
                    }
                    input = [new Tensor(input, "float32", [1, 3, img.width, img.height])];
                    return input;
                },
                createImage(file){
                    let reader = new FileReader();
                    reader.onload = (e) => {
                        this.uploadedImage = e.target.result;
                        input = this.loadImage(this.uploadedImage);
                        //console.log(input);
                        session.run(input).then(output => {
                            //console.log(output);
                            const outputTensor = output.values().next().value;
                            const rank = argsort(Array.prototype.slice.call(outputTensor.data));
                            for(i=0; i<5; i++){
                                console.log(rank[i]);        
                            }

                        });
                    };
                    reader.readAsDataURL(file);
                }
            },
        });
    </script>
</body>
</html>