<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ONNX</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div id="app">
        <input type="file" v-on:change="onFileChange">
        <br>
        <p v-show="start_calc && !end_calc" v-cloak>
            calculating...
        </p>
        <img v-show="end_calc" :src="uploadedImage" width="300">
        <table v-show="end_calc" v-cloak>
            <tr v-for="data in results">
                <td align="right">
                    <{ data[1] | probaDecimal }>% : 
                </td>
                <td>
                    <{ data[0] }>
                </td>

            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/onnxjs/dist/onnx.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src=/static/js/main.js>
    </script>
</body>
</html>
